.NavbarItems {
  background-color: gray;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}

.navbar-logo {
  color: white;
  cursor: pointer;
  margin-right: 50px;
  white-space: nowrap;
  text-decoration: none;
}

.navbar-logo:hover {
  color: black;
  text-decoration: none;
}

.navbar-logo:active {
  color: rgb(75, 75, 75);
  text-decoration: none;
}

.btn-group {
  margin-left: 50px;
}

.btn-group .button {
  background-color: gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: none;
  border-bottom: none;
  color: white;
  padding: 17px 32px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.btn-group .button:hover {
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: black;
}

.btn-group .button:active {
  background-color: rgb(75, 75, 75);
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: black;
  transition: all 0.2s ease-out;
}

/* .nav-menu {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-gap: 30px;
  list-style: none;
  text-align: center;
  width: 80vw;
  justify-content: start;
  padding-top: 28px;
} */

/* .nav-links {
  color: white;
  text-decoration: none;
} */

/* .nav-links:hover {
  color: black;
  text-decoration: none;
  background-color: rgb(187, 187, 187);
  display: block;
  transition: all 0.2s ease-out;
} */
